In [60]:
#problem 7.12
import numpy as np
import pandas as pd
Smalware = np.array([120,120,100,130,100,100,100,120,100,110])
Hmalware = np.array([7,7,6,5,6,5,6,6,8,6])
Dmalware = np.array([32,28,34,33,35,27,32,33,32,34])
Sbenign = np.array([120,130,140,100,110,140,140,100,100,120])
Hbenign = np.array([4,5,5,5,6,7,3,4,4,7])
Dbenign = np.array([22,23,26,21,20,20,28,21,24,25])
df = pd.DataFrame(np.array([Smalware,Hmalware,Dmalware,Sbenign, Hbenign, Dbenign])).transpose()
df.index = range(1,11)
df

      0  1   2    3  4   5
1   120  7  32  120  4  22
2   120  7  28  130  5  23
3   100  6  34  140  5  26
4   130  5  33  100  5  21
5   100  6  35  110  6  20
6   100  5  27  140  7  20
7   100  6  32  140  3  28
8   120  6  33  100  4  21
9   100  8  32  100  4  24
10  110  6  34  120  7  25

In [95]:
df.columns =  ['Smalware','Hmalware','Dmalware','Sbenign','Hbenign','Dbenign']
df
subsetA = df.drop([4,6,7,8,9])
subsetA = subsetA.drop(columns=['Dmalware', 'Dbenign'])
subsetA
SmalwareMean = subsetA['Smalware'].mean()
SmalwareMean
SbenignMean = subsetA['Sbenign'].mean()
SbenignMean
SsubsetAaverage = (SmalwareMean + SbenignMean)/2
SsubsetAaverage
HmalwareMean = subsetA['Hmalware'].mean()
HbenignMean = subsetA['Hbenign'].mean()
HsubsetAaverage = (HmalwareMean + HbenignMean)/2
HsubsetAaverage
print("S score average for subset A:", SsubsetAaverage)
print("H score average for subset A:", HsubsetAaverage)
print(subsetA)

S score average for subset A: 117.0
H score average for subset A: 5.9
    Smalware  Hmalware  Sbenign  Hbenign
1        120         7      120        4
2        120         7      130        5
3        100         6      140        5
5        100         6      110        6
10       110         6      120        7

In [89]:
subsetB = df.drop([1,2,4,6,8])
subsetB = subsetB.drop(columns=['Hmalware', 'Hbenign'])
subsetB
SmalwareMean = subsetB['Smalware'].mean()
SmalwareMean
SbenignMean = subsetB['Sbenign'].mean()
SbenignMean
SsubsetBaverage = (SmalwareMean + SbenignMean)/2
SsubsetBaverage
DmalwareMean = subsetB['Dmalware'].mean()
DbenignMean = subsetB['Dbenign'].mean()
DsubsetBaverage = (DmalwareMean + DbenignMean)/2
print("S score average for subset B:", SsubsetBaverage)
print("D score average for subset B:", DsubsetBaverage)
subsetB

S score average for subset B: 112.0
D score average for subset B: 29.0

    Smalware  Dmalware  Sbenign  Dbenign
3        100        34      140       26
5        100        35      110       20
7        100        32      140       28
9        100        32      100       24
10       110        34      120       25

In [106]:
subsetC = df.drop([3,4,5,7,9])
subsetC = subsetC.drop(columns=['Smalware', 'Sbenign'])
subsetC
HmalwareMean = subsetC['Hmalware'].mean()
HmalwareMean
HbenignMean = subsetC['Hbenign'].mean()
HbenignMean
HsubsetCaverage = (HmalwareMean + HbenignMean)/2
HsubsetCaverage
DmalwareMean = subsetC['Dmalware'].mean()
DbenignMean = subsetC['Dbenign'].mean()
DsubsetCaverage = (DmalwareMean + DbenignMean)/2
print("H score average for subset C:", HsubsetCaverage)
print("D score average for subset C:", DsubsetCaverage)

H score average for subset C: 5.8
D score average for subset C: 26.5

In [42]:
A = [1,2,3,5,10]
B = [3,5,7,9,10]
C = [1,2,6,8,10]

In [97]:
def calculateEntropy(split):
    entropy = -split*np.log2(split) - (1-split)*np.log2(1-split)
    return entropy
calculateEntropy(3/5)
def calculateInformationGain(entropy):
    return 1 - entropy
caclculateInformationGain(calculateEntropy(3/5))

0.029049405545331419

In [98]:
subsetA

    Smalware  Hmalware  Sbenign  Hbenign
1        120         7      120        4
2        120         7      130        5
3        100         6      140        5
5        100         6      110        6
10       110         6      120        7

In [122]:
# decision tree for subset A:
# information Gain for feature S:
infoGainS = calculateInformationGain(calculateEntropy(3/5))
print("Subset A's information Gain for feature S: ", infoGainS)
# information Gain for feature H:
infoGainH = calculateInformationGain(calculateEntropy(7/10))
print("Subset A's information Gain for feature H: ", infoGainH)
print("Feature H has higher information Gain so it is the root of subsetA's decision tree.")

Subset A's information Gain for feature S:  0.0290494055453
Subset A's information Gain for feature H:  0.118709100769
Feature H has higher information Gain so it is the root of subsetA's decision tree.

In [101]:
subsetB
# S score average for subset B: 112.0
# D score average for subset B: 29.0

    Smalware  Dmalware  Sbenign  Dbenign
3        100        34      140       26
5        100        35      110       20
7        100        32      140       28
9        100        32      100       24
10       110        34      120       25

In [121]:
# decision tree for subset B:
# information Gain for feature S:
infoGainS = calculateInformationGain(calculateEntropy(3/10))
print("Subset B's information Gain for feature S: ", infoGainS)
# information Gain for feature D:
infoGainD = calculateInformationGain(calculateEntropy(5/10))
print("Subset B's information Gain for feature D: ", infoGainD)
print("Feature S has higher information Gain so it is the root of subsetB's decision tree.")

Subset B's information Gain for feature S:  0.118709100769
Subset B's information Gain for feature D:  0.0
Feature S has higher information Gain so it is the root of subsetB's decision tree.

In [108]:
subsetC
# H score average for subset C: 5.8
# D score average for subset C: 26.5

    Hmalware  Dmalware  Hbenign  Dbenign
1          7        32        4       22
2          7        28        5       23
6          5        27        7       20
8          6        33        4       21
10         6        34        7       25

In [120]:
# decision tree for subset C:
# information Gain for feature H:
infoGainH = calculateInformationGain(calculateEntropy(6/10))
print("Subset C's information Gain for feature H: ", infoGainH)
# information Gain for feature D:
infoGainD = calculateInformationGain(calculateEntropy(1/2))
print("Subset C's information Gain for feature D: ", infoGainD)
print("Feature H has higher information Gain so it is the root of subsetC's decision tree.")

Subset C's information Gain for feature H:  0.0290494055453
Subset C's information Gain for feature D:  0.0
Feature H has higher information Gain so it is the root of subsetC's decision tree.

In [113]:
S = [100,130,115,105,140]
H = [7,7,4,4,6]
D = [27,28,30,35,30]

In [128]:
dfTest = pd.DataFrame([S,H,D]).transpose()
dfTest.columns=['S','H','D']
dfTest.index = range(1,6)
dfTest

     S  H   D
1  100  7  27
2  130  7  28
3  115  4  30
4  105  4  35
5  140  6  30

In [123]:
class Node():
    def __init__(self,left,right,data):
        self.left = left
        self.right = right
        self.data = data
secondLevelNodeC = Node("Malware","Benign",26.5)